/*General styles*/

body {
    font-family: 'Roboto Slab', sans-serif;
    color: #777777;
}

section {
    padding: 60px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    color: #333333;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 20px;
}

section p {
    font-family: 'Droid Serif', sans-serif;
    margin-bottom: 30px;
}

/*Nav*/

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
    color: #fff;
    transition: all .3s;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-brand:hover {
    color: #0ed8d6;
}

.navbar-light .navbar-brand {
    font-family: 'Droid Serif', sans-serif;
    font-size: 2em;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}


/*Header */

#main-header {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/header/pictures_on_the_wall.jpg);
    /*powyżej rgba daje szarą maskę na tle obrazkowym*/
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


#main-header .header-caption h1,
#main-header .header-caption h2 {
    color: #fff;
}

#main-header .header-caption h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 30px 0;
}


#main-header .header-caption h2 {
    font-family: 'Droid Serif', sans-serif;
}


#main-header .header-caption .btn {
    font-family: 'Montserrat', sans-serif;
    background-color: #0ed8d6;
    border: 1px solid #0ed8d6;
    transition: all 0.3s;
}

#main-header .header-caption .btn:hover {
    background: #fff;
    color: #0ed8d6;
}


/*Services Sekcja*/

#services i {
    width: 80px;
    height: 80px;
    line-height: 80px;
    /*odsuwa ikonę od góry okrągłego kontenera*/
    border-radius: 40px;
    border: 1px solid #0ed8d6;
    background-color: #0ed8d6;
    font-size: 30px;
    color: #fff;
    transition: all 0.4s;
}


#services i:hover {
    background-color: #fff;
    color: #0ed8d6;
    transform: rotate(360deg);
}



#services .row p {
    font-size: 15px;
}


/*Portfolio Section*/

#portfolio {
    background-color: #f7f7f7;
}


#portfolio figcaption {
    background-color: #fff;
    padding: 10px 0;
}

#portfolio .portfolio-image-holder {
    height: 300px;
    overflow: hidden;
    position: relative;
}

#portfolio .portfolio-image-holder img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s;
}

#portfolio .portfolio-image-holder:hover img {
    transform: scale(1.5);
}


#portfolio .portfolio-image-holder .portfolio-mask {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(14, 216, 214, 0.6);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2em;
    opacity: 0;
    transition: all 0.3s;
}

#portfolio .portfolio-image-holder:hover .portfolio-mask {
    opacity: 1;
}
